.cinema {
    width: 100px;
    height: 100px;
}

.icon{
    width: 35px;
    height: 35px;
}

main{
    width: 1024px;
    margin: auto;
}

thead{
    display: none;
}

td{
    padding: 0 40px 0 40px;
}

form{
    display: flex;
    justify-content: space-between;
}

#selectGenero{
    width: 400px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.btn2{
    margin-top: 20px;
}