footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape{
    background-color: #F6511D;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.alignfooter{
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
}

footer img{
    height: 50px;
    align-self: flex-start;
    padding-top: 0.7em;
}

.info p{
    align-self: flex-start;
    color: white;
    font-size: 10pt;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

hr{
    height: 9em;
    width: 1px;
    background-color: white;
    border: none;
    margin: 0em 3em 0 3em;
}